<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add new manager</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss(false)"></button>
  </div>
  <div class="modal-body">
      <form [formGroup]="createEditManagerForm" class="text-center">
                <div>
                    <label for="name" class="form-label">Enter your name: </label>
                    <input id="name" type="text" placeholder="Name" formControlName="nameControl" class="form-control"/>
                </div>

                <div>
                    <label for="email" class="form-label">Enter your email: </label>
                    <input id="email" type="text" placeholder="Email" formControlName="emailControl" class="form-control"/>
                </div>
            
                <div>
                    <label for="dateOfBirth" class="form-label">Enter your date of birth: </label>
                    <input id="dateofBirth" type="date" formControlName="dateofBirthControl" class="form-control" />
                </div>
                
                <div>
                    <label for="departmentId" class="form-label">Enter your department id: </label>
                    <input id="departmentId" type="text" placeholder="Department Id" formControlName="departmenteIdControl" class="form-control" />
                </div>
    </form>
  </div>
  <div class="modal-footer">
      <button type="submit" class="btn btn-outline-success" (click)="onManagerCreateEditSubmit()">Save</button>
  </div>