.btn-circle {
    border-radius: 50%;
}

.table-header {
    font-family:'Courier New', Courier, monospace;
    font-size: 120%;
}

.table-content {
    font-family: 'Courier New', Courier, monospace;
}